@import "variables";
@import "headings";

section.header {
		background-color: lightblue;
	}

section.nav {
	background-color: pink;
}

section.main {
	background-color: #75CBD2;
}

ul li {
	display: inline-block;
}

section {
  .row {
	margin-bottom: 0;
	}
}

.row {
	padding: 1px 0;
}

.pre-nav {
	background: white;
	border-radius: 1em 1em 0 0;
}

.main-content {
	background: white;
	border-radius: 0 0 1em 1em;
}

img {
	max-width: 100%;
}

.heading {
	
}

.row.social {
	border-top: 3px dotted lightblue;
	margin: 0 10px;
}

.center {
	display: block;
	margin: 0 auto;

}

.footer ul {
	font-size: .8em;
	font-weight: 80px;
	color: white;
	text-align: center;

	li {
		padding: 10px;

	}
}
