@import "variables";
@import "headings";

$babyblue: #D6F1F0;
$teal: #82CED4;
$green: #8DB639;
$purple: #6F308C;
$pink: #E9168C;
$lightgreen: #EDF9D3;

ul.pre-nav-buttons {
	margin-top: 3em;
	margin-bottom: 0;
	li {
		margin-right: 5px;
	}
}
//search stuff for second page

.col.s8 {
	background-color: $lightgreen;
	border-radius: 5%;
}

@media screen and (max-width: 992px) {
	.logo img {
		display: block;
		margin: 0 auto;
		padding-top: 1em;
    }
}

.tagline {
	margin-top: 0;
	text-align: center;
}

.btn {
	color: white;
	border-radius: 2rem;
	text-transform: capitalize;
	.babyblue {background-color: $babyblue;}
	.teal {background-color: $teal;}
	.green {background-color: $green;}
	.purple {background-color: $purple;}
	.pink {background-color: $pink;}
}

section.header {
		background-color: lightblue;
	}

section.nav {
	background-color: pink;
}

section.main {
	background-color: #75CBD2;
}

ul li {
	display: inline-block;
}

.main-nav {
	ul {
		@media screen and (max-width: 992px) {
			display: none;
		}
		li {
		font-family: 'Alfa Slab One', cursive;
		font-size: 16px;
		color: darken($pink, 20%);
		padding: 0 2.8%;
		&:last-child {
			padding-right: 0;
			}
		}
	}
}

section {
  .row {
	margin-bottom: 0;
	}
}

.row {
	padding: 1px 0;
}

.pre-nav {
	background: white;
	border-radius: 1em 1em 0 0;
}

.main-content {
	background: white;
	border-radius: 0 0 1em 1em;
	padding: 1em;
}

img {
	max-width: 100%;
}

.heading {
	font-family: 'Alfa Slab One', cursive;
	font-size: 18px;
	line-height: 1.5rem;
	color: $teal;
}

.main-after {
	margin-top: 1em;
}

.row.social {
	border-top: 3px dotted lightblue;
	margin: 0 10px;
	padding-top: 1em;
}

.center {
	display: block;
	margin: 0 auto;

}

.footer ul {
	font-size: .8em;
	font-weight: 80px;
	color: white;
	text-align: center;

	li {
		padding: 10px;

	}
}

/**About Page**/
.list-color {
	color: #66A6AD;
}

.leftbox {
	background-color: #EDF9D3;
	border-radius: 1em;
	color: #8CB537;
	input {
		width: 75%;
	}
}

.rightboxnav {
	float: right;
}

.rightboxsort {
	float: left;
	display: inline-block;
}
.grnsearch {
	display: inline;
	width: 25%;
}

.firstrow {
	font-size: 11px;
}

.grntext {
	color: #8CB537;
}

.square {
   width: 100px;
   height: 100px;
   background: #EDF9D3;
}

.rightbox {
	color: #8CB537;
}

html body section.main div.container div.row.main-content div.col.s12.m12.14 div.row div.col.s12 select.this_one {
	display: inline-block !important;
}
