@import "variables";
@import "headings";

$teal: #82CED4;

section.header {
		background-color: lightblue;
	}

section.nav {
	background-color: pink;
}

section.main {
	background-color: blue;
}

ul li {
	display: inline-block;
}

section {
  .row {
	margin-bottom: 0;
	}
}

.row {
	padding: 1px 0;
}

.pre-nav {
	background: white;
	border-radius: 1em 1em 0 0;
}

.main-content {
	background: white;
	border-radius: 0 0 1em 1em;
}

img {
	max-width: 100%;
}

.heading {
	font-family: 'Alfa Slab One', cursive;
	font-size: 18px;
	color: $teal;
}
