section.main
  .container
    .row.main-content
      // left content
      .col.s12.m12.l4 
        .row 
          .col.s8.leftbox
            p.grntext Limit your search by:
            hr
            input(type="search")
            .btn.grnsearch.green Search
            p Condition:
            p Size:
            p Season:
            p Type:
            p Brand: 
          
      // right content
      .col.s4.m8.l8.rightbox
        p All > Twin > B/G
        p.rightboxsort sort by: 
          select
            option Price
        p.rightboxnav prev. | page num. | next | view all

      .col.s12.m7.rightbox
        .row.firstrow
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
        .row.firstrow
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
        .row.firstrow
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
      .col.s12.main-after
        .row.social
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")
  .footer
      .container
        .row
          .col.s12
            ul
              li Link here
              li |
              li Link here
              li |
              li Link here
              li |
              li Link here
              li |
              li Link here
              li |
              li Link here




script(src="js/main.js")