section.main
  .container
    .row.main-content
      // left content
      .col.s12.m12.l4 
        .row 
          .col.s8.leftbox
            p.grntext Limit your search by:
            hr
            input(type="search")
            .btn.grnsearch.green Search
            form(action='#') Condition:
              p
              input#test5(type='checkbox')    
              label(for='test5') New
              p
              input#test6(type='checkbox')  
              label(for='test6') Gently Used 
            
            form(action='#') 
              p Size:
              input#test1(name='group1', type='radio')    
              label(for='test1') 0  
              br
              input#test2(name='group1', type='radio')   
              label(for='test2') 2 
              br
              input#test3.with-gap(name='group1', type='radio')    
              label(for='test3') 4
              br
              input#test4(name='group1', type='radio', disabled='disabled')    
              label(for='test4') 6
              br

            form(action='#')
              p Season
              input#test5(type='checkbox')    
              label(for='test5') Spring
              br
              input#test6(type='checkbox')  
              label(for='test6') Summer 
              br
              input#test5(type='checkbox')    
              label(for='test5') Fall 
              br
              input#test6(type='checkbox')  
              label(for='test6') Winter
              br
          
            form(action='#')
              p Style
              input#test5(type='checkbox')    
              label(for='test5') One Piece
              br
              input#test6(type='checkbox')  
              label(for='test6') Skirt
              br
              input#test5(type='checkbox')    
              label(for='test5') Dress
              br
              input#test6(type='checkbox')  
              label(for='test6') Top
              br
              input#test5(type='checkbox')    
              label(for='test5') Two Piece
              br
              input#test6(type='checkbox')  
              label(for='test6') Accessory
              br
              select.browser-default
                option(value='') Choose your brand 
                option(value='1') CrewCuts 
                option(value='2') Jack and Janie
                option(value='3') Gap Kids

    
        
      // right content
      .col.s4.m8.l8.rightbox
        p All > Twin > B/G
        p.rightboxsort sort by: 
          select.browser-default
            option(value="Price") Price
            option(value="Rated") Highest Rated
        p.rightboxnav prev. | page num. | next | view all

      .col.s12.rightbox
        .row.firstrow
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
        .row.firstrow
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
        .row.firstrow
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
          .col.s3
            .square
            p Sailor Suits: $15.00
            p Jane Joe 4 hours
      .col.s12.main-after
        .row.social
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
          .col.s12.m6.l3.center
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")
  .footer
      .container
        .row
          .col.s12
            ul
              li Link here
              li |
              li Link here
              li |
              li Link here
              li |
              li Link here
              li |
              li Link here
              li |
              li Link here




script(src="js/main.js")