.footer
    .container
      .row
        .col.s12
          ul
            li Link here
            li |
            li Link here
            li |
            li Link here
            li |
            li Link here
            li |
            li Link here
            li |
            li Link here




script(src="js/main.js")