
// [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
section.header
  .container
    .row.login
      .col.s12.offset-s10
        ul
          li.list-color sign in
          li.list-color |
          li.list-color sign up 
    .row.pre-nav
      .col.s12.l5.logo
        img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')
      .col.s12.l7.pre-nav-content
        ul.pre-nav-buttons.valign-wrapper
          li 
            a.btn.teal(href="shop.html") About
          li 
            a.btn.green Contact
          li 
            a.btn.purple Blog
          li 
            a.btn.pink Press
        h2.heading.tagline where parents of multiple save, sell &amp; share
section.nav
  .container
    .row.main-nav
      ul
        li Buy
        li Sell
        li How it Works
        li Links
        li Community
        li
          input(
            type='search'
          )

