doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied Materialize
    link(rel="stylesheet" href="/vendor/materialize/bin/materialize.css")
    link(rel="stylesheet" href="css/main.css")
    

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    section.header
      .container
        .row.login
          .col.s2.offset-s10
            ul
              li Sign in
              li |
              li Sign up 
        .row.pre-nav
          .col.s5.logo
            img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')
          .col.s7.pre-nav-content
            ul
              li 
                a.btn About
              li 
                a.btn Contact
              li 
                a.btn Blog
              li 
                a.btn Press
            p.tagline where parents of multiple save, sell &amp; share
    section.nav
      .container
        .row.main-nav
          ul
            li
              a(href="#") Buy
            li Sell
            li How it Works
            li Links
            li Community
            li search
    section.main
      .container
        .row.main-content
          // left content
          .col.s7
            .row 
              .col.s12
                p We're making one aspect of life easier for parents of multiples
              .col.s12
                p second row
          // right content
          .col.s5
            .row
              .col.s12
                p first img
              .col.s12
                p second img
              .col.s12
                p third img
          .col.s12
            .row
              .col.s3
                p img link 1
              .col.s3
                p img link 2
              .col.s3
                p img link 3
              .col.s3
                p img link 4
      .footer
        .container
          .row
            .col.s12
              ul
                li link here
                li link here
                li link here
                li link here
                li link here
                li link here


    script(src="js/main.js")

