doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied Materialize
    link(rel="stylesheet" href="/vendor/materialize/bin/materialize.css")
    link(rel="stylesheet" href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css')
    
  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
    section.header
      .container
        .row.login
          .col.s12.offset-s10
            ul
              li Sign in
              li |
              li Sign up 
        .row.pre-nav
          .col.s12.l5.logo
            img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')
          .col.s12.l7.pre-nav-content
            ul.pre-nav-buttons.valign-wrapper
              li 
                a.btn.teal(href="shop.html") About
              li 
                a.btn.green Contact
              li 
                a.btn.purple Blog
              li 
                a.btn.pink Press
            h2.heading.tagline where parents of multiple save, sell &amp; share
    section.nav
      .container
        .row.main-nav
          ul
            li Buy
            li Sell
            li How it Works
            li Links
            li Community
            li
              input(
                type='search'
              )
    section.main
      .container
        .row.main-content
          // left content
          .col.s12.m12.14
            .row
              .col.s8
                p Limit your search by:
                  div.divider
                    input(type='search')
                    button(type='submit') Search

                      
                form(action='#') Condition:
                  p
                  input#test5(type='checkbox')    
                  label(for='test5') New
                  p
                  input#test6(type='checkbox')  
                  label(for='test6') Gently Used 
                
                form(action='#') Size:
                  p
                  input#test1(name='group1', type='radio')    
                  label(for='test1') Red  
                  p
                  input#test2(name='group1', type='radio')   
                  label(for='test2') Yellow  
                  p
                  input#test3.with-gap(name='group1', type='radio')    
                  label(for='test3') Green    
                  p
                  input#test4(name='group1', type='radio', disabled='disabled')    
                  label(for='test4') Brown

                form(action='#') Size:
                  p
                  input#test5(type='checkbox')    
                  label(for='test5') New
                  p
                  input#test6(type='checkbox')  
                  label(for='test6') Gently Used 
                  p
                  input#test5(type='checkbox')    
                  label(for='test5') New
                  p
                  input#test6(type='checkbox')  
                  label(for='test6') Gently Used
                  p
                  input#test5(type='checkbox')    
                  label(for='test5') New
                  p
                  input#test6(type='checkbox')  
                  label(for='test6') Gently Used 

                label(action='#').browser-options 
                  select.disabled
                    option(value='', disabled='', selected='') Choose your option   
                    option(value='1') Option 1   
                    option(value='2') Option 2   
                    option(value='3') Option 3

              .col.s12                
                  label.Materialize
                    select
                      option(value='', disabled='', selected='') Choose your option   
                      option(value='1') Option 1
                      |     
                      option(value='2') Option 2
                      |     
                      option(value='3') Option 3

                        label Materialize Disabled
                  select
                    option(value='', disabled='', selected='') Choose your option
                    option(value='1') Option 1
                    option(value='2') Option 2
                    option(value='3') Option 3
                  label Browser Disabled
                  select.disabled
                    option(value='', disabled='', selected='') Choose your option
                    option(value='1') Option 1
                    option(value='2') Option 2
                    option(value='3') Option 3  




          
          .col.s12.m5
            .row
              jkljk
          .col.s12.main-after
            .row.social
              .col.s12.m6.l3.center
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
              .col.s12.m6.l3.center
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
              .col.s12.m6.l3.center
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
              .col.s12.m6.l3.center
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")
    //-   .footer
    //-     .container
    //-       .row
    //-         .col.s12
    //-           ul
    //-             li Link here
    //-             li |
    //-             li Link here
    //-             li |
    //-             li Link here
    //-             li |
    //-             li Link here
    //-             li |
    //-             li Link here
    //-             li |
    //-             li Link here



    //- script(src="js/main.js")
